################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSWEB_university_project/bin/Debug/netcoreapp3.1
