################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSWEB_university_project/bin/Debug/netcoreapp3.1
/.vs/RSWEB_university_project/v16/Server/sqlite3
