@model RSWEB_university_project.ViewModels.EnrollmentEditVM


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.CourseID" />
            <div class="form-group">
                <label asp-for="Course.Title" class="control-label"></label>
                <input asp-for="Course.Title" class="form-control" />
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Credits" class="control-label"></label>
                <input asp-for="Course.Credits" class="form-control" />
                <span asp-validation-for="Course.Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Semestar" class="control-label"></label>
                <input asp-for="Course.Semestar" class="form-control" />
                <span asp-validation-for="Course.Semestar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Programme" class="control-label"></label>
                <input asp-for="Course.Programme" class="form-control" />
                <span asp-validation-for="Course.Programme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.EducationLevel" class="control-label"></label>
                <input asp-for="Course.EducationLevel" class="form-control" />
                <span asp-validation-for="Course.EducationLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.FirstTeacherId" class="control-label"></label>
                <select asp-for="Course.FirstTeacherId" class="form-control" asp-items="ViewBag.FirstTeacherId"></select>
                <span asp-validation-for="Course.FirstTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.SecondTeacherId" class="control-label"></label>
                <select asp-for="Course.SecondTeacherId" class="form-control" asp-items="ViewBag.SecondTeacherId"></select>
                <span asp-validation-for="Course.SecondTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
$(document).ready(function () {
$("#SelectedStudents").select2();
});
    </script>
}
